// openapi.yaml (excerpt)
openapi: 3.1.0
info:
  title: ASR Huddle API
  version: 1.0.0
servers:
  - url: https://api.asrhuddle.dev/v1
paths:
  /auth/login:
    post:
      summary: Authenticate user, return JWT
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string, format: password}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: {type: string}
                  user: {$ref: '#/components/schemas/User'}
  /rooms:
    post:
      summary: Create room (auth required)
      security: [{bearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [title, durationHours, visibility]
              properties:
                title: {type: string, maxLength: 100}
                description: {type: string, maxLength: 500}
                durationHours: {type: integer, enum: [1,2,5]}
                visibility: {type: string, enum: [public, link_only]}
      responses:
        '201':
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Room'}
    get:
      summary: List active public rooms
      security: [{bearerAuth: []}]
      parameters:
        - name: cursor
          in: query
          schema: {type: string}
        - name: limit
          in: query
          schema: {type: integer, default: 20, maximum: 50}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  rooms: {type: array, items: {$ref: '#/components/schemas/RoomSummary'}}
                  nextCursor: {type: string}
  /rooms/{roomId}:
    get:
      summary: Get room metadata (for link-only join preview)
      parameters:
        - name: roomId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Room'}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    User:
      type: object
      properties:
        id: {type: string, format: uuid}
        username: {type: string}
        email: {type: string, format: email}
        avatarUrl: {type: string}
        bio: {type: string}
    Room:
      type: object
      properties:
        id: {type: string, format: uuid}
        hostId: {type: string, format: uuid}
        title: {type: string}
        description: {type: string}
        visibility: {type: string, enum: [public, link_only]}
        durationHours: {type: integer}
        endsAt: {type: string, format: date-time}
        state: {type: string, enum: [created, active, ending, ended]}
        createdAt: {type: string, format: date-time}
    RoomSummary:
      allOf:
        - $ref: '#/components/schemas/Room'
        - type: object
          properties:
            participantCount: {type: integer}
            speakerCount: {type: integer}
